// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

@font-face {
  font-family: "Anton";
  src:url('anton.eot');
  src:url('anton.eot?#iefix') format('embedded-opentype'),
    url('anton.svg#anton') format('svg'),
    url('anton.woff') format('woff'),
    url('anton.ttf') format('truetype');
  font-weight: 700;
  font-style: sans-serif;
}


// font-family: 'Anton', sans-serif;

// font-family: 'Noto Serif', serif;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

//
