// Specific CSS for your home-page
.photo {
  img {
    width: 100%;
    height: 400px;
https://github.com/Zephyress/waterbnb/pull/26/conflict?name=app%252Fassets%252Fstylesheets%252Fpages%252F_index.scss&ancestor_oid=bbd23f6999a6c795433f77b7939f5174edc7b7e4&base_oid=83e8e5f2f965f6bf73bb9d1a5f093fcd7b074489&head_oid=929d4f8ad4d8e2d60b64d2b8ad29c5f5cf2dcc79  }
}

.size {
  width: 100%;
  height: 250px;
}

