.index-main {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;

}

.index-cards {
  // display: grid;
  // grid-template-columns: 1fr;
  // grid-gap: 8px;
  flex-grow: 1;
  align-items: start;
  a {
    text-decoration: none;
    color: #001c29;
  }
}

.index-map {
  width: 35%;
  z-index: 1 ;
  height : calc(70vh - 105px);
  padding : 0px 20px 16px 20px;
  position: sticky;
  margin-left: 16px;
  top: 88px;
  bottom: 16px;
  border-radius: 4px;
}

.product-info-title {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  display: block;
}



.index-card-product-mother {
  display: flex;
  justify-content: space-between;
}

.index-card-product-left {
  margin-bottom: 16px;
}
