
#boat-show-left{
  background-color: #ffffff;
  padding: 24px;
  padding: 24px;
  box-shadow: 1px 1px 8px 8px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  flex-grow:1;
}

#boat-show-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 24px;
  box-shadow: 1px 1px 8px 8px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

#book_info_price {
 text-align: center;
 border-bottom: 1px solid rgba(0, 0, 0, .1);
 padding-bottom: 16px;
 margin-bottom: 16px;
}

#book-info-from p {
  text-align: justify;
}

#booking-board {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 24px;
  box-shadow: 1px 1px 8px 8px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 16px;
}


