<div class="container mt-5">
  <%= simple_form_for [ @boat, @booking ] do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.submit "New reservation", class: "btn btn-primary" %>
  <% end %>
</div>
