.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #418DFF;
  transition: background 0.3s ease;
  width: 100%;
}

.btn-flat:hover {
  background: #418DFF;
  color: white;
}

.btn-flat-reverse{
  color: #418DFF;
  padding: 8px 24px;
  border-radius: 4px;
  background: white;
  transition: background 0.3s ease;
  border-color: #418DFF;
}

.btn-flat-reverse:hover {
  background: white;
  color: #418DFF;
  border-color: #418DFF;
}
