.card{
  border-radius: 6px;
  box-shadow: 1px 2px 6px grey;
  color: #042C34;

  h5 {
    font-weight: bold
  }

  h6 {
    color: #4D97C8;
  }
}

.card-body {
  display: flex;
  justify-content: space-between;

}
.owner-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.cards:hover {
  text-decoration: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  a {
    text-decoration: none;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grow {
transition: all .2s ease-in-out;
}
.grow:hover {
transform: scale(1.1);
}

.card-size {
  height: 400px;
}

.index-card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.index-card-product img {
  height: 100%;
  width: 120px;
object-fit: cover;
}

.index-card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}
.index-card-product a {
  text-decoration: none;
}

#text-deco {
  text-decoration: none;
}

.index-card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-decoration: none;
}

.index-card-product .index-card-product-infos {
  padding: 16px;
}

.index-card-product-infos {
  flex-grow:1;
}
