.card{
  border-radius: 6px;
  box-shadow: 1px 2px 6px grey;
  color: #042C34;

  h5 {
    font-weight: bold
  }

  h6 {
    color: #4D97C8;
  }
}

.card-body {
  display: flex;
  justify-content: space-between;

}
.owner-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.cards:hover {
  text-decoration: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  a {
    text-decoration: none;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grow {
transition: all .2s ease-in-out;
}
.grow:hover {
transform: scale(1.1);
}

.card-size {
  height: 400px;
}
