.form-border {
  border: 0px;
  border-bottom: 1px solid blue;
  margin-bottom: 50px;
}

.container-form {
  margin-top: 100px;
}

.form-border-create {
  border: 0px;
  border-bottom: 1px solid blue;
  width : 60%;
  margin: auto;
  margin-bottom: 50px;
}

.sous-form {
  margin: auto;
  width: 60%;
}

.form-border-create-sous {
  border: 0px;
  border-bottom: 1px solid blue;
  width: 90%;
  margin: auto;
}
