.research-form {
  width: 90%;
  margin-right: 5px;
  border-radius: 4px;
}

.btn-search {
  height: 38px;
  width: 200px;
  border-radius: 4px;
  background-color: #ffb647;
  color: #fafafa;
  padding: 0px 16px;
  border:0px;
}

.div-search {
  width: 90%;
}
