.research-form {
  width: 90%;
  margin-bottom: 20px;
  margin-right: 5px;
  border-radius: 40px;
}

.btn-search {
  height: 38px;
  width: 200px;
  border-radius: 40px;
}

.div-search {
  width: 90%;
}
